<!DOCTYPE html>
<html>
<head>
	<title>权限列表页</title>
</head>
<body>

	 <a href="{:url('User/add')}">权限添加</a>
     <table border="1">
     	<tr>
     		<th>id</th>
     		<th>username</th>
     		<th>password</th>
     		<th>role_id</th>
     		<th>操作</th>
     	</tr>
     	{volist name="user" id='vo'}
     	<tr>
     		<td>{$vo.id}</td>
     		<td>{$vo.username}</td>
     		<td>{$vo.password}</td>
     		<td>{$vo.role_id}</td>
     		<td><a href="{:url('User/update')}?id={$vo.id}">修改</a><a href="{:url('User/del')}?id={$vo.id}">删除</a></td>
     	</tr>
     	{/volist}
     </table>
</body>
</html>
